@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programa em asp .net core </p>
<p>@ViewData["email"]</p>
<address>
    <a href="http://www.goole.com">GOOGLE</a>

</address>